
<%= link_to 'Back', topics_path, :class=> 'btn btn-sm btn-default'%><h2><%= @topic.title %></h2>

<p>
  <%= @topic.content %>
</p>
<p>
<%= render :partial => 'taglabels', :locals => {:tag_id => @topic.tag_id}%><span>&nbspcreated</span> <%= time_ago_in_words(@topic.created_at) %> ago by <strong><%= User.find_by_id(@topic.user_id).username %></strong>
<div  class = "btn-group">
<%= link_to 'Edit', edit_topic_path(@topic), :class=> 'btn btn-xs btn-default'%>
<%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger'%>
</div>

<p>
<%= render :partial => 'comment', :collection => @topic.comments %>
</p>

<%= form_for(@comment) do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :topic_id %>

  <p class="field">
    <%= f.label "Comment" %><br>
    <%= f.text_area :body, :class => "form-control", :rows => "5" %>
  </p>
  <p class="actions">
  <%= f.submit "Create Comment", class: "btn btn-sm btn-success" %>
  </p>
<% end %>


