<p id="notice"><%= notice %></p>

<button type="button" class="btn btn-sm btn-default"><%= link_to 'Back', events_path %></button>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<button type="button" class="btn btn-success btn-sm"><%= link_to 'Edit', edit_event_path(@event) %></button>
