<%= form_for(@album) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <p>
  <div class="actions">
    <%= f.submit "Submit Album", class: "btn btn-sm btn-success" %>
  </div>
  </p>
<% end %>
