

         <tr>
          <td><%= images.title %></td>
          <td><%= images.album_id %></td>
          <td><%= link_to 'Show', images %></td>
          <td><%= link_to 'Edit', edit_image_path(images) %></td>
          <td><%= link_to 'Destroy', images, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>


