<div class="col-lg-8">
  <h1>Albums</h1>

  <table class="table">
      <tbody>
    <% @albums.each do |album| %>
        <tr>
          <td rowspan="3"><%= link_to image_tag("http://png-1.findicons.com/files/icons/316/hyperion/128/blank.png"), album %></td>
          <td><%= link_to album.title, album%></td>
        </tr>
        <tr>

          <td><%= link_to album.description, album%></td>
        </tr>
        <tr>
          <td colspan="2">
            <div class = "btn-group pull-left"><%= link_to 'Edit', edit_album_path(album), :class=> 'btn btn-xs btn-default'%> <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Album', new_album_path, class: "btn btn-sm btn-success " %></p>
</div>