<div class="col-lg-8">
  <h1>Albums</h1>

  <table class="table">
    <!--   <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead> -->

    <tbody>
    <% @albums.each do |album| %>
        <tr>
          <td rowspan="3"><%= link_to 'Platzhalter für das ' + album.title, album %></td>
          <td><%= album.title %></td>
        </tr>
        <tr>
          <td><%= album.description %></td>
        </tr>
        <tr>
          <td colspan="2">
            <div class = "btn-group pull-left"><%= link_to 'Edit', edit_album_path(album), :class=> 'btn btn-xs btn-default'%> <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Album', new_album_path, class: "btn btn-sm btn-success " %></p>
</div>