<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<h1>Listing images</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Album</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'images', :collection => @album.images %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>